<div class="container">
  <form [formGroup]="employeeForm" >
    <div class="row">
      <div class="mb-3 col-sm-3">
        <label class="form-label">Id</label>
        <input type="number" class="form-control" formControlName="id" />
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-sm-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" formControlName="firstName" />
      </div>
      <div class="mb-3 col-sm-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" formControlName="title" />
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-sm-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" />
      </div>
      <div class="mb-3 col-sm-3">
        <label class="form-label">Date of birth</label>
        <input type="date" class="form-control" formControlName="dateOfBirth" />
      </div>
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-secondary">Create</button>
      <button type="button" class="btn btn-secondary">Edit</button>
    </div>
  </form>
</div>
