<div class="container">
  <form [formGroup]="projectsForm">
    <div class="row d-flex justify-content-end w-50">
      <div class="mb-3 col-sm-6">
        <label class="form-label">Start Date</label>
        <input class="form-control" formControlName="startDate" />
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-sm-3">
        <label class="form-label">Id</label>
        <input type="number" class="form-control" formControlName="id" />
      </div>
      <div class="mb-3 col-sm-3">
        <label class="form-label">End Date</label>
        <input class="form-control" formControlName="endDate" />
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col-sm-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" />
      </div>
      <div class="mb-3 col-sm-3">
        <label class="form-label">Status</label>
        <input type="text" class="form-control" formControlName="status" />
      </div>
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-secondary">Create</button>
      <button type="button" class="btn btn-secondary">Edit</button>
    </div>
  </form>
</div>
